In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

#classification phase
#from sklearn.preprocessing import Imputer , Normalizer , StandardScaler as pp
from sklearn.cross_validation import train_test_split , StratifiedKFold
from sklearn import preprocessing

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab

%matplotlib inline
mpl.style.use( 'ggplot' )
pylab.rcParams[ 'figure.figsize' ] = 8 , 6

/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#load train and test data
cols = ['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked']
train = pd.read_csv("train.csv", header = 0, names=cols)
cols = ['Passengerid', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

test = pd.read_csv("test.csv", header = 0, names=cols)

titanic = train
titanic_test = test



#titanic = train
print ('Datasets:' , 'full:' , titanic.shape, 'train:' , train.shape, 'test: ', titanic_test.shape )
train.head()

('Datasets:', 'full:', (891, 12), 'train:', (891, 12), 'test: ', (418, 11))

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic.describe()

,passengerid,survived,pclass,age,sibsp,parch,fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
#1=male and 0=female
vector_sex = pd.Series( np.where( titanic.sex == 'male', 1, 0), name='sex')
vector_sex.head()

0    1
1    0
2    0
3    0
4    1
Name: sex, dtype: int64

In [6]:
vector_sex_test = pd.Series( np.where( titanic_test.Sex == 'male', 1, 0), name='sex')
vector_sex_test.head()

0    1
1    0
2    1
3    1
4    0
Name: sex, dtype: int64

In [7]:
# Create a new variable for every unique value of Embarked
embarked = pd.get_dummies( titanic.embarked , prefix='Embarked' )
embarked.head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [8]:
embarked_test = pd.get_dummies( titanic_test.Embarked , prefix='Embarked' )
embarked_test.head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           1           0
1           0           0           1
2           0           1           0
3           0           0           1
4           0           0           1

In [9]:
pclass_matrix = pd.get_dummies(titanic.pclass, prefix= 'Pclass')
pclass_matrix.head()

   Pclass_1  Pclass_2  Pclass_3
0         0         0         1
1         1         0         0
2         0         0         1
3         1         0         0
4         0         0         1

In [10]:
pclass_matrix_test = pd.get_dummies(titanic_test.Pclass, prefix= 'Pclass')
pclass_matrix_test.head()

   Pclass_1  Pclass_2  Pclass_3
0         0         0         1
1         0         0         1
2         0         1         0
3         0         0         1
4         0         0         1

In [11]:
#Existe algum outro atributo com NaN, além de age e cabin? IN[41]
#remove name
#remove PassengerID
#remove ticket number (nao existe atributo nulo e acreditamos que por mais que nao existam 891 tickets diferentes, existem grupos de pessoas identificados pelo mesmo ticket) - manter apenas o prefixo 
#cabin has many NAN tuples, moreover there are 147 different values
#discretizar: sex, pclass, embarked (In[10,11,12])
#normalizar: age, fare, sibsp, parch

In [12]:
#to detect null attributes (age, cabin and embarked)

#there are not null values
#vector_ticket = pd.Series( np.where( pd.isnull(titanic_test.ticket), 1, 0), name='ticket')
#vector_ticket.describe()

#there are null values
#vector_age = pd.Series( np.where( pd.isnull(titanic_test.age), 1, 0), name='age')
#vector_age.describe()

#there are null values
#vector_cabin = pd.Series( np.where( pd.isnull(titanic.cabin), 1, 0), name='cabin')
#vector_cabin.describe()

#there are not null values
#vector_pclass = pd.Series( np.where( pd.isnull(titanic.pclass), 1, 0), name='pclass')
#vector_pclass.describe()

#there are not null values
#vector_sex = pd.Series( np.where( pd.isnull(titanic.sex), 1, 0), name='sex')
#vector_sex.describe()

#there are not null values
#vector_parch = pd.Series( np.where( pd.isnull(titanic.parch), 1, 0), name='parch')
#vector_parch.describe()

#there are not null values
#vector_sibsp = pd.Series( np.where( pd.isnull(titanic.sibsp), 1, 0), name='sibsp')
#vector_sibsp.describe()

#there are not null values
#vector_fare = pd.Series( np.where( pd.isnull(titanic.fare), 1, 0), name='fare')
#vector_fare.describe()

#there are null values
#vector_embarked = pd.Series( np.where( pd.isnull(titanic.embarked), 1, 0), name='embarked')
#vector_embarked.describe()

In [13]:
#there are null values in test dataset for columns: age, cabin, fare; however no null values for
#embarqued column

#remove null from age and replace by the mean value in test dataset
mean_age = np.ceil(np.mean(titanic_test.Age))
mean_age
vector_age_wituoutnull_test = pd.Series (titanic_test.Age.fillna(mean_age))
vector_age_wituoutnull_test

#remove null from fare and replace by the mean value in test dataset
mean_fare = np.ceil(np.mean(titanic_test.Fare))
mean_fare
vector_fare_wituoutnull_test = pd.Series (titanic_test.Fare.fillna(mean_fare))
vector_fare_wituoutnull_test

0        7.8292
1        7.0000
2        9.6875
3        8.6625
4       12.2875
5        9.2250
6        7.6292
7       29.0000
8        7.2292
9       24.1500
10       7.8958
11      26.0000
12      82.2667
13      26.0000
14      61.1750
15      27.7208
16      12.3500
17       7.2250
18       7.9250
19       7.2250
20      59.4000
21       3.1708
22      31.6833
23      61.3792
24     262.3750
25      14.5000
26      61.9792
27       7.2250
28      30.5000
29      21.6792
         ...
388      7.7500
389     21.0750
390     93.5000
391     39.4000
392     20.2500
393     10.5000
394     22.0250
395     60.0000
396      7.2500
397     79.2000
398      7.7750
399      7.7333
400    164.8667
401     21.0000
402     59.4000
403     47.1000
404     27.7208
405     13.8625
406     10.5000
407    211.5000
408      7.7208
409     13.7750
410      7.7500
411     90.0000
412      7.7750
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, dtype: float64

In [14]:
#normalize: age, fare, sibsp, parch in train dataset
#age can not be normalized, because there are NaN values
from sklearn import preprocessing
standardized_fare = preprocessing.StandardScaler().fit(titanic.fare)
vector_fare = pd.Series(standardized_fare.transform(titanic.fare))
vector_fare

#normalize fare for test dataset
standardized_fare_test = preprocessing.StandardScaler().fit(vector_fare_wituoutnull_test)
vector_fare_test = pd.Series(standardized_fare_test.transform(vector_fare_wituoutnull_test))
vector_fare_test

#standardized_fare.reshape(-1,1)

/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

0     -0.498423
1     -0.513290
2     -0.465104
3     -0.483482
4     -0.418487
5     -0.473397
6     -0.502009
7     -0.118839
8     -0.509181
9     -0.205797
10    -0.497229
11    -0.172628
12     0.836212
13    -0.172628
14     0.458046
15    -0.141774
16    -0.417367
17    -0.509256
18    -0.496705
19    -0.509256
20     0.426221
21    -0.581946
22    -0.070728
23     0.461707
24     4.065483
25    -0.378818
26     0.472465
27    -0.509256
28    -0.091944
29    -0.250098
         ...
388   -0.499843
389   -0.260931
390    1.037621
391    0.067629
392   -0.275723
393   -0.450537
394   -0.243898
395    0.436979
396   -0.508808
397    0.781227
398   -0.499395
399   -0.500142
400    2.317198
401   -0.262276
402    0.426221
403    0.205687
404   -0.141774
405   -0.390248
406   -0.450537
407    3.153315
408   -0.500367
409   -0.391817
410   -0.499843
411    0.974867
412   -0.499395
413   -0.494464
414    1.313737
415   -0.508808
416   -0.494464
417   -0.237922
dtype: float64

In [15]:
#normalize sibsp in train and test dataset

standardized_sibsp = preprocessing.StandardScaler().fit(titanic.sibsp)
vector_sibsp = pd.Series(standardized_sibsp.transform(titanic.sibsp))

standardized_sibsp_test = preprocessing.StandardScaler().fit(titanic_test.SibSp)
vector_sibsp_test = pd.Series(standardized_sibsp_test.transform(titanic_test.SibSp))
#vector_sibsp
#standardized_sibsp

/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [16]:
#normalize parch in train and test dataset

standardized_parch = preprocessing.StandardScaler().fit(titanic.parch)
vector_parch = pd.Series(standardized_parch.transform(titanic.parch))

standardized_parch_test = preprocessing.StandardScaler().fit(titanic_test.Parch)
vector_parch_test = pd.Series(standardized_parch_test.transform(titanic_test.Parch))
#vector_parch

/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [17]:
#remove NAN from age and replace by the mean value
mean_age = np.ceil(np.mean(titanic.age))
mean_age
vector_age_wituoutnull = pd.Series (titanic.age.fillna(mean_age))
vector_age_wituoutnull

#normalize age in train and test dataset
standardized_age = preprocessing.StandardScaler().fit(vector_age_wituoutnull)
vector_age = pd.Series(standardized_age.transform(vector_age_wituoutnull))

standardized_age_test = preprocessing.StandardScaler().fit(vector_age_wituoutnull_test)
vector_age_test = pd.Series(standardized_age_test.transform(vector_age_wituoutnull_test))


#vector_age

/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/ticianacoelhodasilva/miniconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [18]:
#we did not decide how to deal with NaN in cabin column
vector_cabin = pd.Series (titanic.cabin)
#vector_cabin.describe
#vector_ticket = pd.Series (titanic.ticket)
#correlation_cabin_ticket = vector_cabin.append( vector_ticket , ignore_index = True )

In [19]:
titanic.embarked = embarked.values
titanic_test.Embarked = embarked_test.values

titanic.age = vector_age.values
titanic_test.Age = vector_age_test.values

titanic.sibsp = vector_sibsp.values
titanic_test.SibSp = vector_sibsp_test.values

titanic.sex = vector_sex.values
titanic_test.Sex = vector_sex_test.values

titanic.fare = vector_fare.values
titanic_test.Fare = vector_fare_test.values

titanic.pclass = pclass_matrix.values
titanic_test.Pclass = pclass_matrix_test.values

titanic.parch = vector_parch.values
titanic_test.Parch = vector_parch_test.values

In [20]:
titanic.describe()

,passengerid,survived,pclass,sex,age,sibsp,parch,fare,embarked
count,891.000000,891.000000,891.000000,891.000000,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02,891.000000
mean,446.000000,0.383838,0.242424,0.647587,1.594933e-16,4.386066e-17,5.382900e-17,3.987333e-18,0.188552
std,257.353842,0.486592,0.428790,0.477990,1.000562e+00,1.000562e+00,1.000562e+00,1.000562e+00,0.391372
min,1.000000,0.000000,0.000000,0.000000,-2.257659e+00,-4.745452e-01,-4.736736e-01,-6.484217e-01,0.000000
25%,223.500000,0.000000,0.000000,0.000000,-5.970548e-01,-4.745452e-01,-4.736736e-01,-4.891482e-01,0.000000
50%,446.000000,0.000000,0.000000,1.000000,1.855376e-02,-4.745452e-01,-4.736736e-01,-3.573909e-01,0.000000
75%,668.500000,1.000000,0.000000,1.000000,4.033091e-01,4.327934e-01,-4.736736e-01,-2.424635e-02,0.000000
max,891.000000,1.000000,1.000000,1.000000,3.866107e+00,6.784163e+00,6.974147e+00,9.667167e+00,1.000000

In [21]:
#print ('Datasets:' , 'full:' , full.shape, 'train:' , titanic.shape, 'test: ', test.shape )

In [22]:
X = np.array(titanic[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']])
X

array([[ 0.        ,  1.        , -0.59705478, ..., -0.47367361,
        -0.50244517,  0.        ],
       [ 1.        ,  0.        ,  0.63416229, ..., -0.47367361,
         0.78684529,  1.        ],
       [ 0.        ,  0.        , -0.28925051, ..., -0.47367361,
        -0.48885426,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.01855376, ...,  2.00893337,
        -0.17626324,  0.        ],
       [ 1.        ,  1.        , -0.28925051, ..., -0.47367361,
        -0.04438104,  1.        ],
       [ 0.        ,  1.        ,  0.17245589, ..., -0.47367361,
        -0.49237783,  0.        ]])

In [23]:
#Y = np.array(titanic['survived'])
Y = list(titanic.survived)

## Principais métricas de avaliação de modelos de Classificação
- A precisão é a relação entre o número de predições corretas por todas as predições feitas.
- Log Loss (ou logloss) quantifica a precisão de um classificador penalizando classificações falsas. Minimizar o logloss é, basicamente, equivalente a maximizar a precisão do classificador. Valores baixos são preferíveis.
- A área sob a ROC Curve é uma métrica de desempenho para problemas de classificação binária e representa a capacidade de um modelo de discriminar entre classes positivas e negativas. A área equivalente a 1.0 representa um modelo que fez todas as previsões perfeitamente. Uma área de 0,5 representa um modelo tão bom quanto predizer valores aleatórios.
- A matriz de confusão é uma apresentação prática da precisão de um modelo com duas ou mais classes.

In [32]:
from sklearn import model_selection
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X, Y)
kfold = model_selection.KFold(n_splits=10,random_state=7)


scoring = 'accuracy'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print(results)
print("Accuracy: %.3f (%.3f)") % (results.mean(), results.std())

scoring = 'neg_log_loss'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("Logloss: {} {}".format(results.mean(), results.std()) )

scoring = 'roc_auc'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("ROC Curve: {} {}".format(results.mean(), results.std()) )

[ 0.73333333  0.74157303  0.7752809   0.79775281  0.78651685  0.7752809
  0.76404494  0.80898876  0.7752809   0.83146067]
Accuracy: 0.779 (0.028)
Logloss: -0.738325674513 0.208856319198
ROC Curve: 0.81943192342 0.0404591157052

In [30]:
from sklearn import model_selection
from sklearn import tree

model = tree.DecisionTreeClassifier()
model.fit(X, Y)
kfold = model_selection.KFold(n_splits=10,random_state=7)


scoring = 'accuracy'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print(results)
print("Accuracy: %.3f (%.3f)") % (results.mean(), results.std())

scoring = 'roc_auc'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("ROC Curve: {} {}".format(results.mean(), results.std()) )

[ 0.76666667  0.78651685  0.69662921  0.79775281  0.76404494  0.7752809
  0.79775281  0.76404494  0.76404494  0.78651685]
Accuracy: 0.770 (0.028)
ROC Curve: 0.756043280283 0.0399451229012

In [33]:
from sklearn import model_selection
from sklearn import tree

model = svm.LinearSVC()
model.fit(X, Y)
kfold = model_selection.KFold(n_splits=10,random_state=7)


scoring = 'accuracy'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print(results)
print("Accuracy: %.3f (%.3f)") % (results.mean(), results.std())


scoring = 'roc_auc'
results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
print("ROC Curve: {} {}".format(results.mean(), results.std()) )

[ 0.8         0.80898876  0.7752809   0.84269663  0.76404494  0.7752809
  0.74157303  0.74157303  0.85393258  0.7752809 ]
Accuracy: 0.788 (0.036)
ROC Curve: 0.847507133808 0.0308912334158

In [34]:
X_topredict = np.array(titanic_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']])
X_topredict

array([[ 0.        ,  1.        ,  0.32304553, ..., -0.4002477 ,
        -0.49842302,  0.        ],
       [ 0.        ,  0.        ,  1.31331416, ..., -0.4002477 ,
        -0.51329025,  0.        ],
       [ 0.        ,  1.        ,  2.50163652, ..., -0.4002477 ,
        -0.46510443,  0.        ],
       ...,
       [ 0.        ,  1.        ,  0.63993149, ..., -0.4002477 ,
        -0.50880785,  0.        ],
       [ 0.        ,  1.        ,  0.04577031, ..., -0.4002477 ,
        -0.49446416,  0.        ],
       [ 0.        ,  1.        ,  0.04577031, ...,  0.61989583,
        -0.23792196,  1.        ]])

In [35]:
#test_data = titanic(test)
prediction = model.predict(X_topredict)
submission = pd.DataFrame()
submission['PassengerId']= titanic_test.Passengerid
submission['Survived'] = pd.Series(prediction)
submission.to_csv("kaggle_titanic.csv", index=False)